<div class="container">
  <div class="employee_dashboard">

        <!-- Arrumar aqui-->
        <h4>Edit Employee</h4>

        <div class="employee_dashboard_btn">
            
            <!-- Arrumar aqui-->
            <%= link_to new_employee_path, class: 'employee_dashboard_link' do %>
                <i class="fas fa-chevron-circle-left"></i> Back
            <% end %>
        </div>

        <div class="employee_dashboard_border">
            <%= render 'employees/form', employee: @employee %>
        </div>

    </div>
</div>
