<div class="container">
<h1 class="text-center">Novo Registro</h1>

<%= render 'employees/form', employee: @employee %>
<%= link_to 'Voltar', employees_path, class: 'btn btn-info mt-2 mb-5' %>
</div>
