<div class="container">
<h1 class="text-center">Novo Pedido</h1>

<%= render 'requests/form', request: @request, employee: @employee %>
<%= link_to 'Voltar', employees_path, class: 'btn btn-info mt-2 mb-5' %>
</div>
