<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <p class="card-text">SCassiano  make up the bulk of the card's content.</p>
    <a href="#" class="btn btn-secondary">Go somewhere</a>
  </div>
</div>

<%= link_to "Employees", employees_path  %>
